.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative

}

.card-category .card-text a{
  color: white;
  text-decoration: none;

  &:hover {
    color: $warning;
  }
}

.card-category .card-text p {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 16px;
  background-color: $warning;
  padding: 0 4px;
  border-radius: 4px;

}

.card-offer {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.card-offer-img {

  height: 20vw;
  width: 20vw;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;

  img {
    border-radius: 4px;
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    overflow: hidden;
  }
}

.card-offer h3 {
  font-size: 16px;
  font-weight: bolder;
  line-height: 0.7;
}
.card-offer h2 {
  font-size: 18px;
  font-weight: bolder;
}



.card-offer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.5;

}

.card-offer .card-offer-infos {
  flex-grow: 1;
  padding-left: 16px;

  .offer-head {
    display: flex;
    justify-content: space-between;
  }
}

.offer-status {
  padding: 8px;
  background-color: $warning;
  color: $white;
  border-radius: 4px;
}
