<div class="cantainer">
  <h2>Supplies side_kick</h2>
  <form class="form-inline my-2 my-lg-0 d-flex">
    <input type="submit">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <%= link_to "Add Listing"%>
  </form>
</div>

<div class="container">
  <h4>Quicky get your supplies</h4>
<p>"Road to success is always under Construction"</p>
<a href="#" class="card-link"></a>
  <h3>Latest Supplies </h3>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">building small bricks</h5>
      <img src="..." class="card-img-top" alt="...">
      <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
      <a href="#" class="card-link">Add listing</a>
    <a href="#" class="card-link">buy</a>
  </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Strong steel</h5>
      <img src="..." class="card-img-top" alt="...">
      <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
      <a href="#" class="card-link">Add listing</a>
    <a href="#" class="card-link">buy</a>
  </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">fine sand</h5>
      <img src="..." class="card-img-top" alt="...">
      <p class="card-text"><small class="text-muted">Last updated 20 mins ago</small></p>
      <a href="#" class="card-link">Add listing</a>
    <a href="#" class="card-link">buy</a>
      </div>
    </div>
  </div>
</div>
<
