<div class="cantainer">
<h1>Supplies_Sidekick</h1>
<p><%= link_to "Search  supplies", supplies %></p>

<h1>HI supplies_Sidekick</h1>
<p>Road to success is always under Construction</p>
<h3>Latest Supplies</h3>
<li>img src= "profile" class="img-circle"</li>
</div>
