<div class="container my-3">
    <h1>You have <%= @offer.status %> <%= @offer.user.first_name %>'s offer!</h1>
    <p>Contact them at <%= @offer.user.email %> to arrange pick up and payment</p>
</div>
