  <div class="container">
  <h1>Your offer</h1>
  <p>You offered on: <%= @offer.supply.name %></p>
  <p>You want: <%= @offer.amount %> of the supply</p>
  <p>Your offer details: <%= @offer.details %></p>
</div>
